/*вертикальный телефон*/
@media only screen and (max-width: 460px) {
  body {
    >header {

    }

    >main {
      .catalog {
        .catalog-item {
          width: 200px;
          height: 325px;
        }
      }
    }

    >footer {
      bottom: -60%;
    }
  }

}

/*горизонтальный телефон*/
@media only screen and (min-width: 461px) and (max-width: 767px) {
  body {
    >main {
    }
  }
}

/*весь телефон*/
@media only screen and (max-width: 767px) {
  body {
    >header{
      nav {
        display: none;
      }
    }

    >main {
      #slider {
        .container {
          .slider {
            .owl-carousel {
              .owl-nav {
                display: none;
              }
            }
          }
        }
      }
    }

  }
}

/*вертикальный планшет*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    >header{
      nav {
        display: none;
      }
    }

    >main {
      .catalog {
        .catalog-item {
          width: 180px;
        }
      }
    }

    >footer {
      .container {
        width: 95%;
      }
    }
  }
}

/*горизонтальный планшет*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    > header {
      nav {
       ul {
          padding: 0 10%;
          list-style: none;

          li {
            padding: 0 20px;

            a {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

/*весь планшет*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
 >main {
   #slider {
     .container {
       .slider {
         .owl-carousel {
           .owl-nav {
            display: none;
           }
         }
       }
     }
   }
 }
}

/*десктоп*/
@media only screen and (min-width: 1200px) {
  body {
    >header {}
  }
}
